[submodule "vendor/glfw"]
	path = vendor/glfw
	url = https://github.com/AdrianTesla/glfw
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "vendor/imgui"]
	path = vendor/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "vendor/miniaudio"]
	path = vendor/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/msdf-atlas-gen"]
	path = vendor/msdf-atlas-gen
	url = https://github.com/AdrianTesla/msdf-atlas-gen.git
